---
import Layout from "@layouts/Layout.astro";
import type { MetaData, MetaDataOpenGraph } from "~/types";

const openGraph: MetaDataOpenGraph = {
  url: "",
  title: "",
  description: "",
  images: [],
  siteName: "",
};

const metadata: MetaData = {
  title: "Contact - Pelagornis",
  description: "",
  openGraph: openGraph,
};
---

<Layout metadata={metadata}>
  <main class="min-h-screen bg-white text-gray-900">
    <div class="container mx-auto">
    </div>

  </main>
</Layout>
